@import "../../../../assets/css/colors";

.db-home-vehicle-list {
  padding-top: 120px;

  .swiper-button-prev {
    width: 42px;
    height: 42px;
    left: 0;
    top: 50%;
    transition: 300ms background-color, 300ms color, 200ms visibility, 200ms opacity;
    background-color: black;
    color: white;
    border-radius: 50%;
  }

  .swiper-button-next {
    width: 42px;
    height: 42px;
    right: 0;
    transition: 300ms background-color, 300ms color, 200ms visibility, 200ms opacity;
    background-color: black;
    color: white;
    border-radius: 50%;
  }

  .swiper-button-disabled {
    opacity: .5;
  }

  .deneme {
    color: $davy-gray;
  }
}