/* SCSS HEX */
$black: #060606ff;
$night: #141414ff;
$jet: #292929ff;
$jet-2: #333333ff;
$davy-gray: #4f4f4fff;
$gray: #828282ff;
$silver: #bdbdbdff;
$silver-2: #cacacaff;
$white: #ffffffff;

///* SCSS HSL */
//$black: hsla(0, 0%, 2%, 1);
//$night: hsla(0, 0%, 8%, 1);
//$jet: hsla(0, 0%, 16%, 1);
//$jet-2: hsla(0, 0%, 20%, 1);
//$davy-gray: hsla(0, 0%, 31%, 1);
//$gray: hsla(0, 0%, 51%, 1);
//$silver: hsla(0, 0%, 74%, 1);
//$silver-2: hsla(0, 0%, 79%, 1);
//$white: hsla(0, 0%, 100%, 1);
//
///* SCSS RGB */
//$black: rgba(6, 6, 6, 1);
//$night: rgba(20, 20, 20, 1);
//$jet: rgba(41, 41, 41, 1);
//$jet-2: rgba(51, 51, 51, 1);
//$davy-gray: rgba(79, 79, 79, 1);
//$gray: rgba(130, 130, 130, 1);
//$silver: rgba(189, 189, 189, 1);
//$silver-2: rgba(202, 202, 202, 1);
//$white: rgba(255, 255, 255, 1);
//
///* SCSS Gradient */
//$gradient-top: linear-gradient(0deg, #060606ff, #141414ff, #292929ff, #333333ff, #4f4f4fff, #828282ff, #bdbdbdff, #cacacaff, #ffffffff);
//$gradient-right: linear-gradient(90deg, #060606ff, #141414ff, #292929ff, #333333ff, #4f4f4fff, #828282ff, #bdbdbdff, #cacacaff, #ffffffff);
//$gradient-bottom: linear-gradient(180deg, #060606ff, #141414ff, #292929ff, #333333ff, #4f4f4fff, #828282ff, #bdbdbdff, #cacacaff, #ffffffff);
//$gradient-left: linear-gradient(270deg, #060606ff, #141414ff, #292929ff, #333333ff, #4f4f4fff, #828282ff, #bdbdbdff, #cacacaff, #ffffffff);
//$gradient-top-right: linear-gradient(45deg, #060606ff, #141414ff, #292929ff, #333333ff, #4f4f4fff, #828282ff, #bdbdbdff, #cacacaff, #ffffffff);
//$gradient-bottom-right: linear-gradient(135deg, #060606ff, #141414ff, #292929ff, #333333ff, #4f4f4fff, #828282ff, #bdbdbdff, #cacacaff, #ffffffff);
//$gradient-top-left: linear-gradient(225deg, #060606ff, #141414ff, #292929ff, #333333ff, #4f4f4fff, #828282ff, #bdbdbdff, #cacacaff, #ffffffff);
//$gradient-bottom-left: linear-gradient(315deg, #060606ff, #141414ff, #292929ff, #333333ff, #4f4f4fff, #828282ff, #bdbdbdff, #cacacaff, #ffffffff);
//$gradient-radial: radial-gradient(#060606ff, #141414ff, #292929ff, #333333ff, #4f4f4fff, #828282ff, #bdbdbdff, #cacacaff, #ffffffff);