.db-sidebar {
  width: 100%;
  padding-right: 40px;

  .toggle-button {
    width: 71px;
   svg {
     left: 50%;
     translate: -50% -50%;
   }
  }

  svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
  }
}